body {
  margin: 0;
  padding: 0;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  background-color: lightslategray;
  padding-top: 60px;
}

.restaurantList {
  display: inline-flex;
  padding: 20px;
}

.card {
  padding: 20px;
  margin: 1em;
  border: solid black 1px;
}

.bg-light {
  position: fixed;
  background-color: silver !important;
  width: 100%;
  top: 0;
  z-index: 1;
}
