body {
  margin: 0;
  padding: 0;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  background-color: white;
}

.restaurantList {
  display: inline-flex;
  padding: 20px;
}

.card {
  padding: 20px;
  margin: 1em;
  border: solid black 1px;
  background-color: gainsboro;
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: ghostwhite;
  font-size: 18px;
}

.table {
  background-color: gainsboro;
  margin: auto;
  width: 80% !important;
  border-radius: 20px;
  border: solid lightslategray;
}
